  <li><a class="dropdown-item py-2" href="{% url 'main:profile' %}"><i class="fas fa-id-card text-success me-2"></i>My Profile</a></li>
  <li><a class="dropdown-item py-2" href="{% url 'main:address' %}"><i class="fas fa-map-marker-alt text-success me-2"></i>My Addresses</a></li>
  <li><a class="dropdown-item py-2" href="#"><i class="fas fa-shopping-bag text-success me-2"></i>My Orders</a></li>
  <li><a class="dropdown-item py-2" href="{% url 'main:passwordchange' %}"><i class="fas fa-key text-success me-2"></i>Change Password</a></li>
  <li><hr class="dropdown-divider"></li> 